extends /partials/layout

block content
  div.campaign-info-page
    h1.campaign-info-title Women's March 2018

    div.card
      div.campaign-info-number
        p.your-campaign-text YOUR CAMPAIGN #
        p.phone-number 14159148171
      div.card-container
        p.share-number-text Share this number to begin collecting signups!
