body {
  font-family: 'Roboto', sans-serif;
  background-color: #F1F2F6;
  margin: 0;
}

a {
  color: #ff1200;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-title {
  margin-bottom: 60px;
  font-size: 42px;
  color: #333333;
}

.signup-form, .sms-auto-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form input::placeholder {
  color: #B7BFC9;
}

input, button {
  margin-bottom: 4%;
  width: 500px;
  height: 37px;
  border: solid 1px #96A0AD;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
}

button {
  background-color: #B02419;
  color: #fff;
  height: 45px;
  border: none !important;
  width: 512px;
  margin-top: 3px;
}

.navbar {
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
}

.login, .logout {
  margin-top: 30px;
  font-size: 22px;
}

.logo {
  height: 80px;
  margin-left: -600px;
  padding: 5px;
}

.errors {
  color: red;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.twilio-setup-page, .campaign-setup-page, .sms-auto-page, .campaign-info-page, .campaign-success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-twilio-btn {
  background-color: #E22328;
  border: none;
  color: #fff;
}

.sms-auto-form {
  margin-top: 100px;
}

.sms-auto-textarea {
  margin-bottom: 4%;
  width: 471px;
  border: solid 1px #96A0AD;
  border-radius: 5px;
  font-size: 16px;
  padding: 20px;
  height: 150px;
  resize: none;
}

.campaign-info-page {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 60px 16px;
  height: 230px;
  color: #333333;
  background-color: #fff;
}

.campaign-info-number, .success-card {
  background-color: #B02419;
  color: #fff;
  padding-top: 10px;
  line-height: 18px;
}

.campaign-info-title {
  font-size: 42px;
  color: #333333;
}

.your-campaign-text {
  font-weight: 300;
}

.phone-number {
  font-size: 32px;
}

.share-number-text {
  font-size: 32px;
  font-weight: 300;
}

.send-mass-sms {
  font-size: 16px;
  margin-top: 18px;
  width: 238px;
}

.fa-bullhorn {
  font-size: 23px !important;
  margin-right: 23px !important;
}

.sms-mass-textarea {
  border: solid 1px #96A0AD;
  border-radius: 5px;
  font-size: 16px;
  height: 100px;
  margin-bottom: 4%;
  padding: 20px;
  resize: none;
  width: 471px;
}

.campaign-mass-info-number {
  background-color: #B02419;
  color: #fff;
  line-height: 18px;
  padding-top: 10px;
}

.success-card {
height: 500px;
text-align: center;
}

.success-bullhorn {
  font-size: 100px !important;
  margin-top: 70px;
}

.success-paragraph {
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
}

.success-title {
  margin: 60px;
}
