body {
  font-family: 'Roboto', sans-serif;
  background-color: #F1F2F6;
  margin: 0;
}

a {
  color: #ff1200;
}

.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-title {
  margin-bottom: 60px;
  font-size: 42px;
  color: #333333;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form input::placeholder {
  color: #B7BFC9;
}

.signup-form input, button {
  margin-bottom: 4%;
  width: 500px;
  height: 37px;
  border: solid 1px #96A0AD;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
}

.signup-form button {
  background-color: #B02419;
  color: #fff;
  height: 45px;
  border: none !important;
  width: 512px;
  margin-top: 3px;
}

.navbar {
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: #fff;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
}

.login, .logout {
  margin-top: 30px;
  font-size: 22px;
}

.logo {
  height: 80px;
  margin-right: 1000px;
}

.errors {
  color: red;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.twilio-setup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connect-twilio-btn {
  background-color: #E22328;
  border: none;
  color: #fff;
}

.campaign-setup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
