extends /partials/layout

block content
  div.twilio-setup-page
    h1 Create and Link your Twilio Account
    a(href="https://www.twilio.com/try-twilio")
      button(type="button") Connect with Twilio
