extends /partials/layout

block content
  div.twilio-setup-page
    h1 Create and Link your Twilio Account
    a(href="https://www.twilio.com/authorize/CNcb2bc17f97b0b8f43b33183aec4dfa29")
      button.connect-twilio-btn(type="button") Connect with Twilio
    p You can set up your payment information on Twilio so that Reached can send SMS on your behalf.
    p You should be redirected back to us after you've created your account.
    p.
      If you are not redirected, #[a(href="https://www.reached.herokuapp.com") come back and visit us].
