extends /partials/layout

block content
  div.campaign-info-page
    h1.campaign-info-title Send a Mass Message

    div.card
      div.campaign-mass-info-number
        h3.campaign-name Great Campaign Name
      div.card-container
        form.sms-mass-form(action="/campaigns/sms/mass", method="POST")
          textarea.sms-mass-textarea(name="sms_mass", maxlength="1600", placeholder="Type your message here.", required)
          button(type="submit" class="send-mass-sms")
            i(class="fa fa-bullhorn" aria-hidden="true")
            |  SEND MASS SMS
