extends /partials/layout

block content
  div.campaign-info-page
    h1.campaign-info-title Send a Mass Message

    div.card
      div
        h3.campaign-name Campaign Name
      div.card-container
        textarea.sms-mass-textarea(name="sms_mass", maxlength="1600", placeholder="Type your message here.", required)
