extends /partials/layout

block content

  div.campaign-success-page
    h1.campaign-info-title Send a Mass Message

    div.card
      i(class="fa fa-bullhorn fa-5x" aria-hidden="true")
      h1 Success!
      p Message sent to #{numberOfRecipients} members of the #{campaignName} campaign!
